<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marseille</title>
</head>
<body>
  <h1>Marseille</h1>
    <a href="http://127.0.0.1:8000/country/cities/">Back</a><br>
  <h2>Facts:</h2>
    <ul>
        <li>Marseille was founded 2,600 years ago by Greeks from Focea (nowadays in Turkey)</li>
        <li>With over 2,900 hours of sunshine throughout the year, Marseille is the sunniest city in France, a reason good enough to visit it at any point and during any season!</li>
        <li>Marseille is the World Water Capital since 1996. The World Water Council headquarters sit in the Mediterranean metropolis. Their goal is to “mobilize action on critical water issues at all levels”.</li>
        <li>Marseille has the biggest commercial port in France. Most of the traded goods are oil and imports in general.</li>
        <li>The most famous fact about Marseille is probably its history of soap. Production of soap started in the Middle Ages, because there was a surplus of raw materials, like olive oil and soda. In the year 1688, King Louis XIV passed the Edict of Colbert, which set the standards and qualifications necessary for using the revered Marseilles soap label. Today, there are still 5 original “savonneries” (soap manufacturers) in Marseille.</li>
        <li>Just outside the city, the beautiful Calanques National Park is waiting for you! You can go hiking, swim in the turquoise sea or just enjoy the beautiful nature.</li>
        <li>Marseille is located ideally in order to visit the Provence region. The city is about 45-60 minutes away from the most famous attractions: lavender fields, little medieval towns, roman archeological sites and scenic vineyards.</li>
        <li>Our fourth hotel in France found its place in the city center of the sunniest city across the country!</li>
    </ul>
</body>
</html>