<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paris</title>
</head>
<body>
  <h1>Paris</h1>
    <a href="http://127.0.0.1:8000/country/cities/">Back</a><br>
  <h2>Facts:</h2>
  <ul>
    <li>The Eiffel Tower was supposed to be a temporary installation, intended to stand for 20 years after being built for the 1889 World Fair.</li>
    <li>Paris was originally a Roman City called “Lutetia.”</li>
    <li>It’s believed that Paris only has one stop sign in the entire city.</li>
    <li>A flat in Paris was left unoccupied under lock and key for 70 years, but the rent was paid every month; when the renter passed away, a painting by Boldini valued at more than $2 million was found inside.</li>
    <li>There are at least three replicas of the Statue of Liberty in Paris. The most famous of them exists on an island in the middle of the Seine and looks towards her sister statue in New York.</li>
    <li>The main bell of the Notre Dame Cathedral is named Emmanuel and weighs over 13 tonnes.</li>
    <li>There are 6,100 rues – or streets – in Paris; the shortest one, Rue des Degrés, is just 5.75 metres long and can be found in the 2nd arrondissement.</li>
    <li>The French army was the first to use camouflage, which comes from the French verb “to make up for the stage.” The army began wearing camouflage in 1915 during World War I.</li>
    <li>The first public screening of a movie was by French brothers Auguste and Louis Lumière in December 1895. They used their invention “the cinématographe” to show 10 films of about 50 seconds each.</li>
    <li>Visitors to the Eiffel Tower have to climb 1,665 steps to reach the top – unless they take the elevator! There are a mere 270 steps to reach the Basilica of the Sacré Cœur.</li>
</ul>
</body>
</html>