<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City history</title>
</head>
<body>
    <h1>Історія</h1>
        <a href="{% url 'city_history_1' %}">Фото</a><br>
        <a href="{% url 'city_history_2' %}">Люди</a><br>
    <br>
        <a href="{% url 'city_main' %}">Головна</a><br>
        <a href="{% url 'city_news' %}">Новини</a><br>
        <a href="{% url 'city_contacts' %}">Контакти</a><br>
        <a href="{% url 'city_heads' %}">Керівники</a><br>
        <a href="{% url 'city_facts' %}">Факти</a><br>
</body>
</html>